WCF开发框架/WebServiceSample/WebServiceClient/Service References/LHWebService/LearningHardWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.cnblogs.com/zhili/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.cnblogs.com/zhili/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cnblogs.com/zhili/">
      <s:element name="HelloLearningHard">
        <s:complexType />
      </s:element>
      <s:element name="HelloLearningHardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloLearningHardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MySoapHeader" type="tns:MySoapHeader" />
      <s:complexType name="MySoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloLearningHardSoapIn">
    <wsdl:part name="parameters" element="tns:HelloLearningHard" />
  </wsdl:message>
  <wsdl:message name="HelloLearningHardSoapOut">
    <wsdl:part name="parameters" element="tns:HelloLearningHardResponse" />
  </wsdl:message>
  <wsdl:message name="HelloLearningHardMySoapHeader">
    <wsdl:part name="MySoapHeader" element="tns:MySoapHeader" />
  </wsdl:message>
  <wsdl:portType name="LearningHardWebServiceSoap">
    <wsdl:operation name="HelloLearningHard">
      <wsdl:input message="tns:HelloLearningHardSoapIn" />
      <wsdl:output message="tns:HelloLearningHardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LearningHardWebServiceSoap" type="tns:LearningHardWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloLearningHard">
      <soap:operation soapAction="http://www.cnblogs.com/zhili/HelloLearningHard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HelloLearningHardMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:HelloLearningHardMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LearningHardWebServiceSoap12" type="tns:LearningHardWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloLearningHard">
      <soap12:operation soapAction="http://www.cnblogs.com/zhili/HelloLearningHard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloLearningHardMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloLearningHardMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LearningHardWebService">
    <wsdl:port name="LearningHardWebServiceSoap" binding="tns:LearningHardWebServiceSoap">
      <soap:address location="http://localhost:3051/LearningHardWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LearningHardWebServiceSoap12" binding="tns:LearningHardWebServiceSoap12">
      <soap12:address location="http://localhost:3051/LearningHardWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>