WCF开发框架/WCF/FirstWCFApp/Client/Service References/HelloWorldServices/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.Learninghard.com" elementFormDefault="qualified" targetNamespace="http://www.Learninghard.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetHelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>