WCF开发框架/WCF/WCFServiceContract/Client3/Service References/ServiceReference/GetHelloWorldService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.Learninghard.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.Learninghard.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.Learninghard.com/Imports">
      <xsd:import schemaLocation="http://localhost:9999/GetHelloWorldService?xsd=xsd0" namespace="http://www.Learninghard.com" />
      <xsd:import schemaLocation="http://localhost:9999/GetHelloWorldService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HellworldService_GetHelloWorldWithoutParam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorldWithoutParam" />
  </wsdl:message>
  <wsdl:message name="HellworldService_GetHelloWorldWithoutParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorldWithoutParamResponse" />
  </wsdl:message>
  <wsdl:message name="HellworldService_GetHelloWorldWithParam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorldWithParam" />
  </wsdl:message>
  <wsdl:message name="HellworldService_GetHelloWorldWithParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorldWithParamResponse" />
  </wsdl:message>
  <wsdl:portType name="HellworldService">
    <wsdl:operation name="GetHelloWorldWithoutParam">
      <wsdl:input wsaw:Action="http://www.Learninghard.com/HellworldService/GetHelloWorldWithoutParam" message="tns:HellworldService_GetHelloWorldWithoutParam_InputMessage" />
      <wsdl:output wsaw:Action="http://www.Learninghard.com/HellworldService/GetHelloWorldWithoutParamResponse" message="tns:HellworldService_GetHelloWorldWithoutParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHelloWorldWithParam">
      <wsdl:input wsaw:Action="http://www.Learninghard.com/HellworldService/GetHelloWorldWithParam" message="tns:HellworldService_GetHelloWorldWithParam_InputMessage" />
      <wsdl:output wsaw:Action="http://www.Learninghard.com/HellworldService/GetHelloWorldWithParamResponse" message="tns:HellworldService_GetHelloWorldWithParam_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>