WCF开发框架/WCF/WCFServiceContract/Client3/Service References/ServiceReference/GetHelloWorldService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.Learninghard.com" elementFormDefault="qualified" targetNamespace="http://www.Learninghard.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetHelloWorldWithoutParam">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelloWorldWithoutParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHelloWorldWithoutParamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelloWorldWithParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelloWorldWithParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHelloWorldWithParamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>