WCF开发框架/WCF/WCFServiceContract2/ClientConsoleApp/Service References/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WriteEventLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteEventLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteEventLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncreatePerformanceCounter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncreatePerformanceCounterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncreatePerformanceCounterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>