WCF开发框架/WcfBigFileUpload/CRMClient/Service References/Service/CRMServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRMServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileCount" type="xs:int" />
      <xs:element minOccurs="0" name="FileExtName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileModel" nillable="true" type="tns:FileModel" />
</xs:schema>