WCF开发框架/WcfBigFileUpload/CRMClient/Service References/Service/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CRMServer" />
  <xs:element name="FileUpLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRMServer" minOccurs="0" name="fileModel" nillable="true" type="q1:FileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRMServer" minOccurs="0" name="fileModel" nillable="true" type="q2:FileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRMServer" minOccurs="0" name="fileModel" nillable="true" type="q3:FileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToFileSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>